\:host
  display: grid
  grid-gap: 0

  align-items: center
  background-color: var(--bg-primary)
  padding: 10px
  margin-bottom: 10px
  border-radius: var(--border-radius)
  min-width: fit-content

i
  font-size: 2rem
  margin-top: 5px

.search
  grid-area: search

.sort-filter
  grid-area: sort
  display: grid
  grid-gap: 0
  align-items: center

.pagination
  grid-area: pagination

// Responsiveness
// Large screens
@media(min-width: 800px)
  \:host
    grid-template-areas: 'search  sort  pagination'
    grid-template-columns: 380px auto auto

  .sort-filter
    grid-template-columns: 35px 320px

  .list
    gap: 1rem
    padding-left: 10vw
    padding-right: 10vw

// Small screens
@media(max-width: 800px)
  \:host
    grid-template-areas: 'search' 'sort' 'pagination'
    grid-template-columns: auto auto auto
    padding: 0

  .search
    grid-template-columns: 20px 300px
    justify-content: center

  .sort-filter
    grid-template-columns: 20px 300px
    justify-content: center
    margin-bottom: 20px
    &-description
      display: none

  .pagination
    text-align: center
