<!-- Searcher -->
<searcher class="search" (searched)="onSearch($event)"></searcher>

<!-- Sort By -->
<div class="sort-filter">
  <span>
    <i class="material-icons">sort_by_alpha</i>
  </span>

  <mat-form-field>
    <mat-label>Ordenar por precio, título...</mat-label>
    <mat-select [(ngModel)]="selectedOrder" (ngModelChange)="onSortBy($event)">
      <mat-option [value]="option" *ngFor="let option of orderByOptions">{{
        option
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Pagination -->
<pagination
  class="pagination"
  [lastPage]="lastPage"
  [firstPage]="firstPage"
  [currentPage]="currentPage"
  (changed)="onPageChange($event)"
></pagination>
