<div class="sections">
  <div class="photo">
    <img class="photo-img" src="{{ item.image }}" alt="{{ item.title }}" />
  </div>
  <div class="info">
    <div class="info-title">
      <p>
        {{ item.title }}
      </p>
    </div>
    <!-- TODO: Set locale for correct currency positioning -->
    <div class="info-price">{{ item.price | currency: "EUR" }}</div>
    <div class="info-description">
      <p class="info-description-text">{{ item.description }}</p>
    </div>
  </div>
  <div class="buttons">
    <div>
      <i class="material-icons buttons-fav" alt="Add to your favorites"
        >favorite</i
      >
    </div>
  </div>
</div>
