\:host
  display: flex
  flex-direction: column
  justify-content: center
  border: 1px solid var(--bg-secondary)
  color: black
  height: 200px
  padding: 0.4rem
  border-radius: 7px
  transition: all var(--transition-speed)
  overflow: hidden
  background-color: var(--bg-primary)
  min-height: 0
  min-width: 0
  &:hover
    transform: translateY(-3px) scale(1.01)

p
  margin: 0

.sections
  display: grid
  grid-template-areas: 'a  b  c'
  gap: 1rem
  grid-template-rows: auto
  grid-template-columns: 240px auto 50px
  height: 100%

.photo
  grid-area: a

  border-radius: 7px
  overflow: hidden
  &-img
    width: 100%
    height: 100%
    object-fit: cover

.info
  grid-area: b

  height: 200px
  color: black
  min-width: 0
  &-title
    font-size: 1.3rem
    font-weight: bolder
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 1
    overflow: hidden
  &-price
    font-size: 1.2rem
    font-weight: normal
    margin-bottom: 10px
  &-description
    font-size: 0.9rem
    font-weight: normal
    max-height: 130px
    &-text
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 6
      overflow: hidden
      height: 130px

.buttons
  grid-area: c

  text-align: right
  color: white
  &-fav
    cursor: pointer
    font-size: 1.5rem
    background-color: #eceff1
    border-radius: 50%
    border: 1x solid grey
    padding: 7px
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black
