\:host
  height: 100%
  display: flex
  flex-direction: column

.header
  margin: 0
  display: grid
  grid-template-columns: 50% 50%
  &-buttons
    text-align: right

.close-icon
  cursor: pointer
  color: black
  background-color: var(--bg-secondary)
  border-radius: 50%
  &:hover
    color: red

.filters
  display: grid
  overflow: hidden
  justify-content: center

.favorites-list
  display: grid
  text-align: center
  justify-content: center
  &-quantity-number
    font-weight: bold

.footer
  height: calc(100% - 96px)
  max-height: unset

.text-empty
  margin-top: 10px
  text-align: center

// Responsiveness
// Large screens
@media(min-width: 800px)
  .header
    margin-bottom: 20px

  .close-icon
    font-size: 2rem

  .filters
    grid-template-areas: 'search pagination'
    grid-template-columns: 50% 50%
    margin-bottom: 30px

  .favorites-list
    padding-left: 50px
    padding-right: 50px
    &-quantity
      margin-bottom: 30px

// Small screens
@media(max-width: 800px)
  .close-icon
    font-size: 7vw

  .filters
    grid-template-areas: 'search' 'pagination'
    grid-template-columns: 100%
    margin-bottom: 5px
    transform: scale(0.85)

  .favorites-list-quantity
    margin-bottom: 5px

