\:host
  height: 100%
  display: flex
  flex-direction: column

.filters
  display: grid
  grid-template-rows: auto
  grid-template-columns: auto auto
  margin-bottom: 50px

.favorites-list
  display: grid
  padding-left: 50px
  padding-right: 50px
  text-align: -webkit-center

.spacer
  flex-grow: 1
