\:host
  height: 100%
  display: flex
  flex-direction: column

.filters
  display: grid
  margin-bottom: 50px
  overflow: hidden
  justify-content: center
  transform: scale(0.8)

.favorites-list
  display: grid
  padding-left: 50px
  padding-right: 50px
  text-align: -webkit-center

.spacer
  flex-grow: 1

// Responsiveness
// Large screens
@media(min-width: 800px)
.filters
  grid-template-areas: 'search pagination'


// Small screens
@media(max-width: 800px)
.filters
  grid-template-areas: 'search' 'pagination'
