<div class="sections">
  <!-- Photo -->
  <div class="photo">
    <img class="photo-img" src="{{ item.image }}" alt="{{ item.title }}" />
  </div>

  <!-- Info (text) -->
  <div class="info">
    <p class="info-title">{{ item.title }}</p>
    <div class="info-price">
      <!-- TODO: Set locale for correct currency positioning -->
      {{ item.price | currency: "EUR":"symbol":"1.0-0" }}
    </div>
    <div class="info-description">
      <p class="info-description-text">{{ item.description }}</p>
      <div class="info-description-email">
        <a href="mailto:{{ item.email }}">{{ item.email }}</a>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <div (click)="toggleFavorite()">
      <i
        class="material-icons buttons-fav"
        [ngClass]="{ isFavorite: isFavorite }"
        alt="Add to your favorites"
      >
        favorite</i
      >
    </div>
  </div>
</div>
