<div class="sections">
  <!-- Photo -->
  <div class="photo">
    <img class="photo-img" src="{{ item.image }}" alt="{{ item.title }}" />
  </div>

  <!-- Info (text) -->
  <div class="info">
    <p class="info-title">{{ item.title }} {{ item.id }}</p>
    <!-- TODO: Set locale for correct currency positioning -->
    <div class="info-price">{{ item.price | currency: "EUR" }}</div>
    <div class="info-description">
      <p class="info-description-text">{{ item.description }}</p>
    </div>
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <div (click)="toggleFavorite()">
      <i
        class="material-icons buttons-fav"
        [ngClass]="{ isFavorite: isFavorite }"
        alt="Add to your favorites"
      >
        favorite</i
      >
    </div>
  </div>
</div>
