<ul class="nav">
  <!-- App logo -->
  <li class="logo">
    <a href="#" class="nav-link logo-link">
      <i class="material-icons">polymer</i>
      <span class="link-text logo-text">Item Manager</span>
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="material-icons">favorite</i>
      <span class="link-text logo-text">Favorites</span>
    </a>
  </li>

  <li class="nav-item" id="themeButton">
    <a href="#" class="nav-link">
      <i class="material-icons">email</i>
      <span class="link-text logo-text">Contact</span>
    </a>
  </li>
</ul>
