<div class="navbar">
  <ul class="nav">
    <!-- App logo -->
    <li class="logo">
      <a class="nav-link logo-link">
        <i class="material-icons">fingerprint</i>
        <span class="link-text logo-text">Item Manager</span>
      </a>
    </li>

    <!-- Item Manager -->
    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <i class="material-icons">calendar_view_day</i>
        <span class="link-text logo-text">Item Manager</span>
      </a>
    </li>

    <!-- Favorites -->
    <li class="nav-item" (click)="onOpenFavorites()">
      <a class="nav-link favorites">
        <i class="material-icons">favorite</i>
        <span class="link-text logo-text">Favorites</span>
      </a>
    </li>

    <!-- Contact -->
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link">
        <i class="material-icons">email</i>
        <span class="link-text logo-text">Contact</span>
      </a>
    </li>
  </ul>
</div>
